/* body {
	background-image: url("images/blue.png");
	margin: 0px;
	padding: 0px;
} */

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.jumbotron {
    background-color: lightpink;
	color: white;
}